{namespace VH=Nng\Nnfelogin\ViewHelpers}


			</td>
		</tr>

		<tr>
			<td>
				
				<div class="footer-box">
					<table class="footer">
						<tr>
							<td class="col col-0">
								<p>
									<b>DGIM</b><br />
									Deutsche Gesellschaft<br />
									für Innere Medizin e.V.
								</p>			
							</td>
							<td class="col col-1">
								<p>
									Irenenstraße 1<br />
									65189 Wiesbaden<br />
									<a href="http://www.dgim.de">www.dgim.de</a>
								</p>
							</td>
							<td class="col col-2">
								<p>			
									Tel.: 0611 - 2058040 - 0<br />
									Fax: 0611 - 2058040 - 46<br />
									<a href="mailto:info@dgim.de">info@dgim.de</a>
								</p>
							</td>
							
						</tr>
					</table>
				</div>

			</td>
		</tr>		
	</table>
	
</td></tr></table>


</body></html>

