{namespace VH=Nng\Nnfelogin\ViewHelpers}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

<!-- Outlook wants CSS inside the body-Tag! -->

<style>
<f:render partial="EmailStyleSheet.css" />
</style>

<table class="center-box">
	<tr class="page-top-border"><td></td></tr>
	
	<tr><td class="center-box-td">
	<table class="main">
		<tr>
			<td>
				<div class="logo-box">
					<VH:image src="typo3conf/ext/nnfelogin/Resources/Public/Imgs/logo-mail.jpg" embed="1" alt="Logo DGIM" />
				</div>
			</td>
		</tr>
		
		<tr>			
			<td class="main-col-1">