{namespace VH=Nng\Nnfelogin\ViewHelpers}


<f:flashMessages renderMode="div" />

<div id="nnfelogin-{uniqueId}" class="nnfelogin login">

	<f:if condition="{mode}=='password_changed'">
		<h1 class="h-12 text-center">Passwort geändert.</h1>
		<p class="text-center">Ihr Passwort wurde erfolgreich geändert.</p>
	</f:if>
	
	<f:if condition="{mode}=='change_pwform'">
	
			<f:form method="post" controller="Main" action="showLoginForm" fieldNamePrefix="{_GPprefix}">
				
				<div class="row no-gutter">
					<div class="col-sm-10 col-md-6 col-centered">
				
						<f:comment>
							<f:security.ifAuthenticated>... ging bei 1&1 nicht! ...</f:security.ifAuthenticated>
						</f:comment>
						
						<f:if condition="{feUser.ses_id}">
							<f:then>
							
								<f:form.hidden name="update_pw" value="1" />
								<f:form.hidden name="encryptionKey" value="{encryptionKey}" />
								
								<h1 class="h-12 text-center">Passwort ändern</h1>
		
								<div class="col-sm-10 col-centered">
									
									<f:if condition="{errors.pw}">
										<div class="field clearfix text-center">
											<h2 class="error">Das alte Passwort ist nicht korrekt.</h2>
										</div>
									</f:if>
		
									<f:if condition="{errors.new_pw}{errors.new_pw_not_identical}">
										<div class="field clearfix text-center">
											<h2 class="error">Das neue Passwort ist nicht korrekt oder die Passwort-Wiederholung stimmt nicht.</h2>
										</div>
									</f:if>
									
									<f:if condition="{errors.pw_too_short}">
										<div class="field clearfix text-center">
											<h2 class="error">Das neue Passwort ist zu kurz. Es sollte mindestens 5 Zeichen lang sein.</h2>
										</div>
									</f:if>
									
									
									<div class="input-group field clearfix{f:if(condition:'{errors.pw}',then:' error')}">
										<div class="input-group-addon icon icon-password"></div>
										<f:form.password additionalAttributes="{placeholder:'Aktuelles Passwort'}" class="form-control input-lg" name="pw" value="" />
									</div>
									
									<div class="input-group field clearfix{f:if(condition:'{errors.pw}',then:' error')}">
										<div class="input-group-addon icon icon-password"></div>
										<input type="password" style="display:none">
										<f:form.password additionalAttributes="{autocomplete:'off', placeholder:'Neues Passwort'}" class="form-control input-lg" name="new_pw" value="" />
									</div>
									
									<div class="input-group field clearfix{f:if(condition:'{errors.pw}',then:' error')}">
										<div class="input-group-addon icon icon-password"></div>
										<f:form.password additionalAttributes="{autocomplete:'off', placeholder:'Neues Passwort wiederholen'}" class="form-control input-lg" name="new_pw_repeat" value="" />
									</div>
									
									<div class="field clearfix">
										<input type="submit" name="submit" class="col-xs-12 col-sm-12 btn btn-lg btn-default" value="Passwort ändern">
									</div>
									
									
								</div>
								
							</f:then>
							
							<f:else>
							
								<h1 class="h-12 text-center">Sie sind nicht angemeldet.</h1>
								
							</f:else>
							
						</f:if>
					</div>
				</div>
				
			</f:form>
		
		<script>
			$(function() {
				var key = '{encryptionKey}';
				$('#nnfelogin-{uniqueId}').nnfelogin({key:key});
			});
		</script>
		
	</f:if>

</div>