{namespace VH=Nng\Nnfelogin\ViewHelpers}
{namespace api=TYPO3\EsweApi\ViewHelpers}

<div id="nnfelogin-{uniqueId}" class="nnfelogin nnfelogin-forgotpw">
	<f:form method="post" controller="Form" fieldNamePrefix="{_GPprefix}" action="forgotPasswordForm" class="fce-col-form">
		
		<f:form.hidden name="validate" value="1" />

		<div class="row">
			
			<div class="col-sm-8 col-md-6 col-centered forgotpw-form">
				<f:if condition="{mode}=='form'">
					
					<api:contentElement uid="1225"></api:contentElement>
										
					<div class="field input-group clearfix{f:if(condition:'{errors.email}',then:' error')}">
						<div class="input-group-addon icon icon-mail">
							<span class="glyphicon glyphicon-envelope"></span>
						</div>
						
						<f:form.textfield placeholder="Ihre E-Mail" name="email" class="form-control input-lg" value="<f:format.stripTags>{data.email}</f:format.stripTags>" />
					</div>
					
					<div class="field clearfix">
						<input type="submit" name="submit" class="col-sm-6 pull-right btn btn-default" value="Weiter" />
					</div>
					
				</f:if>
		
				
				<f:if condition="{mode}=='mailsent'">
					<api:contentElement uid="1226" data="{_all}"></api:contentElement>
				</f:if>
		
		
				<f:if condition="{mode}=='pwform'">
					<api:contentElement uid="1227" data="{_all}"></api:contentElement>
					
					<f:if condition="{errors.pw}">
						<p class="info error">
							Das Passwort stimmt nicht mit der Passwort-Wiederholung überein.
						</p>
					</f:if>
					<f:if condition="{errors.pw_too_short}">
						<p class="info error">
							Das Passwort ist zu kurz. Es sollte mindestens aus 6 Zeichen bestehen.
						</p>
					</f:if>
					
					
					<f:form.hidden name="changepw" value="1" />
					<f:form.hidden name="user" value="{user}" />
					<f:form.hidden name="forgothash" value="{forgothash}" />
					<f:form.hidden name="encryptionKey" value="{encryptionKey}" />

					<div class="input-group field clearfix{f:if(condition:'{errors.pw}',then:' error')}">
						<div class="input-group-addon icon icon-password">
							<span class="glyphicon glyphicon-lock"></span>
						</div>
						<f:form.password additionalAttributes="{placeholder:'Neues Passwort'}" name="pw" class="form-control input-lg" value="" />
					</div>
					<div class="input-group field clearfix{f:if(condition:'{errors.pw}',then:' error')}">
						<div class="input-group-addon icon icon-password">
							<span class="glyphicon glyphicon-lock"></span>
						</div>
						<f:form.password additionalAttributes="{placeholder:'Neues Passwort wiederholen'}" class="form-control input-lg" name="pw_confirm" value="" />
					</div>
					<input type="submit" class="pull-right col-sm-6 btn btn-default" value="Passwort ändern">					
				</f:if>
				
				
				<f:if condition="{mode}=='pwchanged'">
					<h1>Passwort geändert,</h1>
					<p>Ihr Passwort wurde geändert. Sie können sich ab sofort mit Ihrem neuen Passwort einloggen.</p>	
					<!--
						<f:link.page pageUid="{settings.forgotPassword.returnPid}" class="col-sm-6 pull-right btn btn-default">Zum Login-Formular</f:link.page>
					-->
				</f:if>
			</div>		
		</div>
		
	</f:form>
</div>

<script>
	$(function() {
		var key = '{encryptionKey}';
		$('#nnfelogin-{uniqueId}').nnfelogin({key:key});
	});
</script>