{namespace VH=Nng\Nnfelogin\ViewHelpers}

<!-- Diese Mail wird an den User versendet, wenn er sein Passwort vergessen hat -->

<f:render partial="EmailHeader.html" arguments="{_all}" />

	<h1 class="big">Passwort zurücksetzen</h1>
	<p>Hallo <b>{feUser.firstName} {feUser.lastName}</b>,</p>
	<p>Sie erhalten diese Mail von der Webseite {baseUrl}, weil Sie das Formular zum Zurücksetzen des Passwortes ausgefüllt haben.</p>
	<p>Um das Passwort zu ändern, klicken Sie bitte auf "Passwort ändern".</p>
	<p>Bitte beachten Sie, dass der Link nur für wenige Stunden gültig ist.</p>
					
	<div class="action">
		<f:link.page absolute="1" additionalParams="{linkParams}" noCacheHash="1">Passwort ändern</f:link.page>
	</div>
	
	<p>Sollte der Link sich nicht öffnen lassen, kopieren Sie bitte diesen Link in die Adresszeile Ihres Browsers:</p>
	{f:uri.page(absolute:'1',additionalParams:'{linkParams}',noCacheHash:1)}

<f:render partial="EmailFooter.html" arguments="{_all}" />