{namespace VH=Nng\Nnfelogin\ViewHelpers}

<!-- Diese Mail wird an den User versendet, wenn er sein Passwort vergessen hat -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

<!-- Outlook wants CSS inside the body-Tag! -->

<style>
<f:render partial="EmailStyleSheet.css" />
</style>

<table class="center-box">
	<tr><td class="center-box-td">
	<table class="main">
		<tr>			
			<td class="main-col-1">
				
				<h1 class="big">Passwort zurücksetzen</h1>
				<p>Hallo <b>{feUser.name}</b>,</p>
				<p>Sie erhalten diese Mail von der Webseite {baseUrl}, weil Sie das Formular zum Zurücksetzen des Passwortes ausgefüllt haben.</p>
				<p>Um das Passwort zu ändern, klicken Sie bitte auf "Passwort ändern".</p>
				<p>Bitte beachten Sie, dass der Link nur für wenige Stunden gültig ist.</p>
								
				<div class="action">
					<f:link.page absolute="1" additionalParams="{linkParams}">Passwort ändern</f:link.page>
				</div>
				
				<p>Sollte der Link sich nicht öffnen lassen, kopieren Sie bitte diesen Link in die Adresszeile Ihres Browsers:</p>
				<input type="text" value="{f:uri.page(absolute:'1',additionalParams:'{linkParams}')}" />
			</td>
		</tr>
	</table>
	
</td></tr></table>

</body></html>