{namespace VH=Nng\Nnfelogin\ViewHelpers}


<f:flashMessages renderMode="div" />

<div id="nnfelogin-{uniqueId}" class="nnfelogin login">

	<f:if condition="{mode}=='password_changed'">
		<h1 class="h-12">Passwort geändert.</h1>
		<p class="">Ihr Passwort wurde erfolgreich geändert.</p>
	</f:if>
	
	<f:if condition="{mode}=='change_pwform'">
	
			<f:form method="post" controller="Main" action="showLoginForm" fieldNamePrefix="{_GPprefix}" noCache="1">
				
				<div class="row">
					<div class="col-sm-8">
				
						<f:comment>
							<f:security.ifAuthenticated>... ging bei 1&1 nicht! ...</f:security.ifAuthenticated>
						</f:comment>
						
						<f:if condition="{feUser.ses_id}">
							<f:then>
							
								<f:form.hidden name="update_pw" value="1" />
								<f:form.hidden name="encryptionKey" value="{encryptionKey}" />
								
								<h2>Passwort ändern</h2>
		
								<f:if condition="{errors.pw}">
									<div class="form-group clearfix alert alert-danger">
										<f:switch expression="{errors.type}">
											<f:case value="-1">Sie konnten als Benutzer nicht eindeutig im System zugeordnet werden. Evtl. ist ihre E-Mail mehrfach im System hinterlegt.</f:case>
											<f:case value="-6">Sie sind zur Zeit keiner Benutzergruppe zugeordnet. Das Passwort kann nicht gespeichert werden.</f:case>
											<f:case default="TRUE">Das alte Passwort ist nicht korrekt.</f:case>
										</f:switch>
									</div>
								</f:if>
	
								<f:if condition="{errors.new_pw}{errors.new_pw_not_identical}">
									<div class="form-group clearfix alert alert-danger">
										Das neue Passwort ist nicht korrekt oder die Passwort-Wiederholung stimmt nicht.
									</div>
								</f:if>
								
								<f:if condition="{errors.pw_too_short}">
									<div class="form-group clearfix alert alert-danger">
										Das neue Passwort ist zu kurz. Es sollte mindestens 5 Zeichen lang sein.
									</div>
								</f:if>
								
								
								<div class="form-group">
									<div class="input-group field clearfix{f:if(condition:'{errors.pw}',then:' error')}">
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-lock"></span>
										</div>
										<f:form.password additionalAttributes="{placeholder:'Aktuelles Passwort'}" class="form-control" name="pw" value="" />
									</div>
								</div>
								
								<div class="form-group">
									<div class="input-group field clearfix{f:if(condition:'{errors.pw}',then:' error')}">
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-lock"></span>
										</div>
										<input type="password" style="display:none">
										<f:form.password additionalAttributes="{autocomplete:'off', placeholder:'Neues Passwort'}" class="form-control" name="new_pw" value="" />
									</div>
								</div>

								<div class="form-group">
									<div class="input-group field clearfix{f:if(condition:'{errors.pw}',then:' error')}">
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-lock"></span>
										</div>
										<f:form.password additionalAttributes="{autocomplete:'off', placeholder:'Neues Passwort wiederholen'}" class="form-control" name="new_pw_repeat" value="" />
									</div>
								</div>
																	
								<div class="form-group pull-right">
									<input type="submit" name="submit" class="col-sm-12 btn btn-primary" value="Passwort ändern">
								</div>
																	
							</f:then>
							
							<f:else>
							
								<h1 class="h-12">Sie sind nicht angemeldet.</h1>
								
							</f:else>
							
						</f:if>
					</div>
				</div>
				
			</f:form>
		
		<script>
			$(function() {
				var key = '{encryptionKey}';
				$('#nnfelogin-{uniqueId}').nnfelogin({key:key});
			});
		</script>
		
	</f:if>

</div>