{namespace VH=Nng\Nnfelogin\ViewHelpers}


<f:flashMessages renderMode="div" />

<div id="nnfelogin-{uniqueId}" class="felogin-login login minh-12">
	<f:form method="post" controller="Main" action="showLoginForm" fieldNamePrefix="{_GPprefix}">
		
		<div class="row">
			<div class="col-sm-12 col-lg-8">
		
				<f:comment>
					<f:security.ifAuthenticated>... ging bei 1&1 nicht! ...</f:security.ifAuthenticated>
				</f:comment>
				
				<f:if condition="{feUser.ses_id}">
					<f:then>
					
						<div class="clearfix marg-1 rahmen rahmen-100 layout-1">
							<div class="tx-felogin-pi1">
							
								<div class="message">
									<h1>Hallo, {feUser.name}!</h1>
									<f:format.html>Sie sind zur Zeit auf der Webseite eingeloggt und haben Zugriff auf die Inhalte für Mitglieder.</f:format.html>
								</div>

								<div class="field row clearfix">
									<f:form.hidden name="logout" value="1" />
									<div class="col-sm-{f:if(condition:settings.loginRedirectPid,then:'6',else:'12')} gutter-sm-right-5 pad-sm-bottom-10">
										<input type="submit" name="submit" class="col-sm-12 form-control left btn-logout" value="Abmelden" />
									</div>
									<f:if condition="{settings.loginRedirectPid}">
										<div class="col-sm-6 text-center gutter-sm-left-5">
											<f:link.page pageUid="{settings.loginRedirectPid}" class="col-sm-12 form-control btn-loginredirect">
												Interner Bereich
											</f:link.page>
										</div>
									</f:if>
								</div>
							</div>
						</div>
					</f:then>
					<f:else>
	
						<div class="clearfix marg-1 rahmen rahmen-100 layout-1">
							<div class="tx-felogin-pi1">
									
								<f:if condition="{errors}">
									<f:then>
										<div class="alert alert-danger">
											<f:if condition="{errors.pw}">
												<f:then>
													Fehler beim Login. 
													<f:link.page pageUid="{settings.forgotPasswordPid}">Passwort vergessen?</f:link.page>
												</f:then>
												<f:else>
													Ungültiger Schlüssel. Probieren Sie es bitte noch einmal.
												</f:else>
											</f:if>
										</div>
									</f:then>
									<f:else>
										<div class="message">Login für registrierte Benutzer</div>
									</f:else>
								</f:if>
								
								<form class="form-vertical felogin felogin-login" action="index.php?id=3" target="_top" method="post" onsubmit="return TYPO3FrontendLoginFormRsaEncryption.submitForm(this, TYPO3FrontendLoginFormRsaEncryptionPublicKeyUrl);; return true;">
	
									<f:form.hidden name="validate" value="1" />
									<f:form.hidden name="encryptionKey" value="{encryptionKey}" />
									
									<f:if condition="{_GP.redirect_url}">
										<f:form.hidden name="redirect_url" value="{f:uri.page(pageUid:'{_GP.redirect_url}')}" />
									</f:if>

									<div class="row clearfix">
										<div class="col-sm-6 form-group">
											<f:form.textfield additionalAttributes="{placeholder:'E-Mail oder Nutzername'}" class="form-control" name="email" value="<f:format.stripTags>{_GP.email}</f:format.stripTags>" />
										</div>
										<div class="col-sm-6 form-group">
											<input type="password" style="display:none">
											<f:form.password additionalAttributes="{autocomplete:'off', placeholder:'Passwort'}" class="form-control" name="pw" value="" />
										</div>
									</div>
									
									
								
									<div class="form-group no-margin-bottom">
										<f:link.page pageUid="{settings.forgotPasswordPid}">Passwort vergessen?</f:link.page>
										<input type="submit" name="submit" class="col-sm-3 col-xs-6 pull-right btn btn-primary" value="Login">
									</div>

								</form>
	
							</div>
						</div>
	
						
					</f:else>
					
				</f:if>
			</div>
		</div>
		
	</f:form>
</div>

<script>
	$(function() {
		var key = '{encryptionKey}';
		$('#nnfelogin-{uniqueId}').nnfelogin({key:key});
	});
</script>