{namespace VH=Nng\Nnfelogin\ViewHelpers}

<div id="nnfelogin-{uniqueId}" class="nnfelogin nnfelogin-forgotpw">
	<f:form method="post" controller="Form" fieldNamePrefix="{_GPprefix}" action="forgotPasswordForm" class="fce-col-form">
		
		<f:form.hidden name="validate" value="1" />

		<div class="row">
			
			<div class="col-sm-8 col-centered forgotpw-form">
				<f:if condition="{mode}=='form'">
					
					<h1 class="h-12 text-center">Passwort vergessen?</h1>

					<div class="field">			
						<p>Sie können Ihr Passwort nicht mehr finden? Geben Sie einfach hier die E-Mail ein, mit der Sie bei uns registriert sind. Sie erhalten danach eine Mail mit weiteren Anweisungen um Ihr Passwort zu ändern.</p>
					</div>
					
					<div class="field input-group clearfix{f:if(condition:'{errors.email}',then:' error')}">
						<div class="input-group-addon icon icon-mail"></div>
						<f:form.textfield placeholder="Ihre E-Mail" name="email" class="form-control input-lg" value="<f:format.stripTags>{data.email}</f:format.stripTags>" />
					</div>
					
					<div class="field clearfix">
						<input type="submit" name="submit" class="col-sm-12 btn btn-lg btn-default" value="Weiter" />
					</div>
					
				</f:if>
		
				
				<f:if condition="{mode}=='mailsent'">
					
					<h1 class="h-12 text-center">Mail gesendet.</h1>

					<div class="field text-center">		
						<f:format.html>Wir haben Ihnen eine Mail an {_GP.email} gesendet.</f:format.html>
						<f:format.html>Bitte schauen Sie in Ihr Postfach und folgen Sie den Anweisungen in der E-Mail.</f:format.html>
					</div>
					
				</f:if>
		
		
				<f:if condition="{mode}=='pwform'">
				
					<h1>Hallo {feUser.name},</h1>
					<p>Sie können jetzt ihr Passwort ändern. Geben Sie dazu das gewünschte neue Passwort ein und wiederholen Sie die Eingabe im Feld darunter.</p>
					
					<f:if condition="{errors.pw}">
						<p class="info error">
							Das Passwort stimmt nicht mit der Passwort-Wiederholung überein.
						</p>
					</f:if>
					<f:if condition="{errors.pw_too_short}">
						<p class="info error">
							Das Passwort ist zu kurz. Es sollte mindestens aus 6 Zeichen bestehen.
						</p>
					</f:if>
					
					
					<f:form.hidden name="changepw" value="1" />
					<f:form.hidden name="user" value="{user}" />
					<f:form.hidden name="forgothash" value="{forgothash}" />
					<f:form.hidden name="encryptionKey" value="{encryptionKey}" />
					
					<div class="field clearfix{f:if(condition:'{errors.pw}',then:' error')}">
						<label class="upper">Neues Passwort</label>
						<f:form.password name="pw" class="form-control" value="<f:format.stripTags>{data.pw}</f:format.stripTags>" />
					</div>
					<div class="field clearfix{f:if(condition:'{errors.pw}',then:' error')}">
						<label class="upper">Passwort wiederholen</label>
						<f:form.password class="form-control" name="pw_confirm" value="<f:format.stripTags>{data.pw_confirm}</f:format.stripTags>" />
					</div>
					<input type="submit" class="btn btn-lg btn-default" value="Passwort ändern &gt;&gt;">					
				</f:if>
				
				
				<f:if condition="{mode}=='pwchanged'">
					<h1>Passwort geändert,</h1>
					<p>Ihr Passwort wurde geändert. Sie können sich ab sofort mit Ihrem neuen Passwort einloggen.</p>	
					
					<f:link.page pageUid="{settings.forgotPassword.returnPid}" class="btn btn-lg btn-default">Zum Login-Formular</f:link.page>
					
				</f:if>
			</div>		
		</div>
		
	</f:form>
</div>

<script>
	$(function() {
		var key = '{encryptionKey}';
		$('#nnfelogin-{uniqueId}').nnfelogin({key:key});
	});
</script>